<div class="page-header">
  <h3>Registrar mi empresa</h3>
</div>

<%= simple_form_for @empresa do |f| %>
  <fieldset>
    <legend>Datos de la empresa</legend>
    <%= f.input :nombre, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :color, as: :color %>
    <%= render 'imagen', f: f, atributo: :imagen %>
  </fieldset>

  <fieldset>
    <legend>Credenciales de acceso</legend>
    <%= f.simple_fields_for :usuarios_attributes, f.object.usuarios.build, index: nil do |builder| %>
      <%= builder.input :nombre %>
      <%= builder.input :email %>
      <%= builder.input :password %>
      <%= builder.input :password_confirmation %>
    <% end %>
  </fieldset>

  <%= submit_button f %>
<% end %>